@model IEnumerable<SupermercadoMDDII.Models.ProductoModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

}

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>



    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>

   @*  <script>
        $(document).ready(function () {
            $('#editForm').submit(function () {
                // Obtener el ID del proveedor seleccionado
                var proveedorId = $('#Idproveedor').val();
                // Llamar a la acción para verificar el stock y enviar el correo electrónico
                $.ajax({
                    url: '@Url.Action("CheckStockAndSendEmail", "Proveedor")',
                    type: 'POST',
                    data: { proveedorId: proveedorId },
                    success: function (response) {
                        console.log('Correo enviado');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al enviar el correo electrónico');
                    }
                });
            });
        });
    </script> *@
}


<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Productos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">

                <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Producto")'">
                    <i class="fas fa-user-plus"></i> Nuevo Producto
                </button>




            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">

                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                        <tr>
                            <th>Id</th>
                            <th>Codigo de Barra</th>
                            <th>Marca</th>
                            <th>Descripcion</th>
                            <th>Id Categoria</th>
                            <th>Id Proveedor</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Fecha de Caducidad</th>
                            <th>Acciones</th>
                        </tr>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Idproducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.codigoBarra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.marca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.descripcion)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Idcategoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.Idproveedor)
                                </td>
                                <td class="@(item.stock< 10 ? "text-danger" : "")">
                                    @Html.DisplayFor(modelitem => item.stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.esActivo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => item.fechaCaducidad)
                                </td>

                                <td>
                                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Idproducto">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Idproducto">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
@*                                     @if (item.stock < 10)
                                    {
                                        <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#emailModal-@item.Idproducto">
                                            <i class="fas fa-envelope"></i> Enviar Email
                                        </a>
                                    } *@
                                </td>
                            </tr>
                        }
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


}

